* {
  box-sizing: border-box;
}

h1 {
  color: red;

}

h2 {
  color: #fff;
}

h3 {
  text-align: center;
  color: #fff;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 90%;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1536 560L0 560 L0 322.05Q61.8 263.86%2c 120 325.66Q140.5 226.16%2c 240 246.66Q281.08 215.74%2c 312 256.82Q393.88 266.7%2c 384 348.59Q381.05 273.63%2c 456 270.68Q485.4 228.08%2c 528 257.48Q582.57 240.06%2c 600 294.63Q669.19 243.82%2c 720 313.01Q762.38 235.38%2c 840 277.76Q885.62 251.38%2c 912 297Q987.05 252.06%2c 1032 327.11Q1054.16 229.27%2c 1152 251.44Q1193.19 220.63%2c 1224 261.82Q1302.02 267.84%2c 1296 345.85Q1315.24 245.09%2c 1416 264.32Q1468.81 197.13%2c 1536 249.93z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 431.85Q-2.36 357.49%2c 72 355.13Q93.25 304.38%2c 144 325.62Q212.51 322.13%2c 216 390.64Q264.19 318.82%2c 336 367.01Q383.49 294.5%2c 456 341.99Q510.75 324.74%2c 528 379.49Q583.65 363.14%2c 600 418.8Q647.38 346.18%2c 720 393.55Q749.42 302.97%2c 840 332.39Q889.92 310.31%2c 912 360.24Q967.64 343.88%2c 984 399.52Q1009 304.52%2c 1104 329.53Q1178.69 284.22%2c 1224 358.91Q1302.92 317.83%2c 1344 396.75Q1355.04 335.79%2c 1416 346.83Q1445.28 304.11%2c 1488 333.39z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 419.95Q91.93 391.88%2c 120 483.81Q166.73 410.54%2c 240 457.28Q288.94 386.22%2c 360 435.16Q423.22 426.38%2c 432 489.61Q501 438.62%2c 552 507.62Q594.21 429.83%2c 672 472.04Q737.52 417.56%2c 792 483.09Q828.87 399.96%2c 912 436.83Q966.15 370.99%2c 1032 425.14Q1119.86 393%2c 1152 480.86Q1153.48 410.34%2c 1224 411.82Q1294.69 410.51%2c 1296 481.21Q1329.38 394.6%2c 1416 427.98Q1443.85 383.83%2c 1488 411.67z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 554.15Q20.48 502.63%2c 72 523.1Q114.28 445.38%2c 192 487.66Q240.68 464.34%2c 264 513.01Q333.78 510.79%2c 336 580.57Q347.27 519.85%2c 408 531.12Q473.1 476.22%2c 528 541.32Q577.48 470.8%2c 648 520.28Q730.65 482.93%2c 768 565.58Q840.63 518.21%2c 888 590.83Q893.49 524.32%2c 960 529.81Q987.14 484.95%2c 1032 512.1Q1077.96 438.06%2c 1152 484.02Q1209.86 469.88%2c 1224 527.73Q1254.21 485.94%2c 1296 516.15Q1371.47 471.63%2c 1416 547.1Q1443.65 454.75%2c 1536 482.4z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.completed {
  text-decoration: line-through;
  color: rgb(39, 39, 39);
}

.left-num {
  font-size: 30px;
  color: #d90429
}

.not {
  text-decoration: underline;
}

.todoDesc {
  font-style: italic;
  margin: 30px 0px;
}

p {
  margin: 5px 0 5px 5px;
  color: #fff
}


main {
  display: flex;
  justify-content: space-around;

}

.todoItem {
  position: relative;
}

.del {
  min-width: 70px;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
  bottom: 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #d90429;
  background: #d90429;
}

.del:hover {
  background: #fff;
  color: #d90429
}

ul {
  padding: 50px 50px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

}

li {
  padding: 20px;
  list-style: none;
  border-radius: 10px;
  box-shadow: -2px -1px 33px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: -2px -1px 33px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -2px -1px 33px 0px rgba(0, 0, 0, 0.31);
}

form {
  margin-top: 130px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a {
  color: aquamarine;
}

.submit-btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  background: #57cc99;
  z-index: 1;
}

.submit-btn:hover:after {
  width: 100%;
  left: 0;
}

.submit-btn:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
  background-color: #80ed99;
  right: 0;
}

.submit-btn:active {
  top: 2px;
}