* {
  box-sizing: border-box;
}

h1 {
  color: red;

}

h2 {
  color: #fff;
}

h3 {
  text-align: center;
  color: #fff;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 90%;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 246.62Q94.39 221.01%2c 120 315.41Q128.64 252.06%2c 192 260.7Q258.62 207.31%2c 312 273.93Q390.46 232.39%2c 432 310.86Q467.94 226.8%2c 552 262.73Q606.77 245.5%2c 624 300.28Q678.17 282.45%2c 696 336.63Q737.24 305.87%2c 768 347.1Q795.77 254.87%2c 888 282.64Q930.17 252.81%2c 960 294.99Q1043.88 258.88%2c 1080 342.76Q1110.71 301.48%2c 1152 332.19Q1177.29 285.48%2c 1224 310.77Q1269.85 236.62%2c 1344 282.47Q1427.14 245.62%2c 1464 328.76z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 420.27Q49.99 350.25%2c 120 400.24Q124.84 333.08%2c 192 337.91Q240.74 314.65%2c 264 363.4Q356.84 336.24%2c 384 429.08Q403.85 376.93%2c 456 396.78Q482.36 351.13%2c 528 377.49Q574.56 304.06%2c 648 350.62Q703.04 333.66%2c 720 388.71Q768.04 364.75%2c 792 412.8Q835.95 384.75%2c 864 428.71Q867.44 360.15%2c 936 363.59Q965.9 321.49%2c 1008 351.39Q1031.56 302.95%2c 1080 326.51Q1168.43 294.94%2c 1200 383.38Q1260.33 371.71%2c 1272 432.04Q1274.6 362.64%2c 1344 365.24Q1360.93 310.18%2c 1416 327.11Q1488.4 279.51%2c 1536 351.92z' fill='rgba(37%2c 70%2c 125%2c 1)'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 468.58Q48.4 396.98%2c 120 445.37Q143.22 396.59%2c 192 419.81Q258.01 365.82%2c 312 431.83Q366.46 414.29%2c 384 468.76Q456.15 420.91%2c 504 493.07Q504.65 421.72%2c 576 422.37Q606.91 381.28%2c 648 412.19Q748.4 392.6%2c 768 493Q785.73 438.73%2c 840 456.46Q879.45 375.91%2c 960 415.37Q1006.13 389.5%2c 1032 435.64Q1073.84 405.48%2c 1104 447.31Q1145.17 368.48%2c 1224 409.65Q1318.63 384.28%2c 1344 478.92Q1355.54 418.46%2c 1416 430Q1466 360%2c 1536 409.99z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 583.04Q8.88 519.91%2c 72 528.79Q89.53 474.32%2c 144 491.85Q214.44 442.29%2c 264 512.73Q306.26 482.99%2c 336 525.25Q359.2 476.45%2c 408 499.65Q437.81 457.46%2c 480 487.27Q576.4 463.67%2c 600 560.07Q638.41 478.49%2c 720 516.9Q747.25 472.15%2c 792 499.4Q853.64 489.04%2c 864 550.68Q912.91 527.59%2c 936 576.5Q966.05 486.55%2c 1056 516.6Q1104.81 445.41%2c 1176 494.22Q1231.15 477.38%2c 1248 532.53Q1318.81 483.34%2c 1368 554.15Q1437.68 503.83%2c 1488 573.5z' fill='rgba(94%2c 133%2c 198%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.completed {
  text-decoration: line-through;
  color: rgb(39, 39, 39);
}

.left-num {
  font-size: 30px;
  color: #d90429
}

.not {
  text-decoration: underline;
}

.todoDesc {
  font-style: italic;
  margin: 30px 0px;
}

p {
  margin: 5px 0 5px 5px;
  padding-bottom: 30px;
  color: #fff
}

.todo-section{
  position: sticky;
  top: 130px;
}


main {
  display: flex;
  position: relative;
  justify-content: space-around;

}

.todoItem {
  position: relative;
}

.del {
  min-width: 70px;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
  bottom: 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #d90429;
  background: #d90429;
}

.del:hover {
  background: #fff;
  color: #d90429
}

ul {
  padding: 50px 50px 0 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 200px);
  gap: 20px;

}

li {
  padding: 20px;
  list-style: none;
  border-radius: 10px;
  box-shadow: -2px -1px 33px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: -2px -1px 33px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -2px -1px 33px 0px rgba(0, 0, 0, 0.31);
}

form {
  margin-top: 130px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a {
  color: aquamarine;
}

.submit-btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  background: #57cc99;
  z-index: 1;
}

.submit-btn:hover:after {
  width: 100%;
  left: 0;
}

.submit-btn:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
  background-color: #80ed99;
  right: 0;
}

.submit-btn:active {
  top: 2px;
}




.priority-section{
  display: flex;
  flex-direction: column;
}